*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}
body {
    background: lightgreen;
}
.container{
    width: 1080px;
    height: 1080px;
    text-align: center;
    margin: 2% auto;
    background: rgba(245, 245, 220, 0.808);
    border-radius: 20px;
}
.containerSub{
    width: inherit;
    height: inherit;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
/*
    background: black;
    opacity: 0.3;
*/
}
.card{
    float : left;
    margin: 1%;
    height: 25%;
    width: 20%;
    background: rgb(78, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 10px burlywood;
    padding: 0;
}
.card:hover{
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid gold;
}
.card p{
    font-size: 400%;
    color: azure;
}

.replay {
    float : right;
    background: darkcyan;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(75, 114, 3, 0.582);
    margin-right: 12%;
    height: 5%;
    width: 25%;
    padding: 0;
    text-align: center;
    font-size: 150%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.replay:hover{
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid gold;
}

.footer{
    clear: both;
    text-align: left;
    padding: 2%;
    padding-top: 1%;
}