*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
body {
    background: lightgreen;
}
.container{
    width: 1080px;
    height: 1080px;
    text-align: center;
    margin: 2% auto;
    background: rgba(245, 245, 220, 0.808);
    border-radius: 20px;
}
.containerSub{
    width: inherit;
    height: inherit;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 5%;
/*
    background: black;
    opacity: 0.3;
*/
}
.card{
    float : left;
    margin: 1%;
    height: 25%;
    width: 20%;
    background: rgb(78, 0, 0);
    /* display: inline; */
    border-radius: 10px;
    box-shadow: 10px 10px 10px burlywood;
    padding: 0;
}

.card p{
    font-size: 400%;
    color: azure;
}

.footer{
    clear: both;
    text-align: left;
    padding: 2%;
}